<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido a nuestra aplicación</title>
</head>
<body>
  <div class="container">
    <h1>Bienvenido a nuestra aplicación</h1>
    <p>Esta es una página de bienvenida profesional para nuestra aplicación. Esperamos que disfrutes de tu experiencia con nosotros.</p>
    <a href="http://localhost:4200/dashboard/users" class="button">Comenzar</a>
  </div>
  <div class="additional-content">
    <h2 class="subtituloHome">Características destacadas</h2>
    <ul class="subtituloHome">
      <li>Interfaz de usuario intuitiva</li>
      <li>Funcionalidades avanzadas</li>
      <li>Compatibilidad multiplataforma</li>
      <li>Seguridad garantizada</li>
    </ul>
  </div>
</body>
</html>
