<div *ngIf="isLoading$ | async; else notLoading">
    CARGANDO..
</div>

<ng-template #notLoading>
    <button (click)="createRegistration()" mat-flat-button type="button" color="accent">
      Crear inscripción  
    </button>

    <!-- <pre>{{ registrations$ | async | json }}</pre> -->

    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Identificador </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

        <ng-container matColumnDef="nombreAlumno">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element"> {{element.user.firstName + ' ' + element.user.lastName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="cursoId">
          <th mat-header-cell *matHeaderCellDef> Curso </th>
          <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" >
                  <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>


        
  
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

        </table>


</ng-template>